<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <description>
        SAP Hadoop Services
    </description>
    <display-name>SAP Hadoop Services</display-name>

    <!-- Define Filters -->
    <filter>
        <filter-name>LoginPassFilter</filter-name>
        <filter-class>com.sap.shs.LoginPassFilter</filter-class>
        <init-param>
            <param-name>loginJsp</param-name>
            <param-value>/shs/jsp/login.jsp</param-value>
        </init-param>

        <init-param>
            <param-name>secretKey</param-name>
            <param-value>superStrongSecretKey</param-value>
        </init-param>


    </filter>

    <filter-mapping>
        <filter-name>LoginPassFilter</filter-name>
        <url-pattern>/jspv/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LoginPassFilter</filter-name>
        <url-pattern>/js/*</url-pattern>
    </filter-mapping>

    <!-- Define Servlets -->

    <servlet-mapping>
        <servlet-name>CreateFolder</servlet-name>
        <url-pattern>/js/mkdirs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateFolder</servlet-name>
        <servlet-class>com.sap.shs.CreateFolder</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>com.sap.shs.DownloadFile</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/js/dwn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetJobStatus</servlet-name>
        <servlet-class>com.sap.shs.GetJobStatus</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>hadoopLogDirectory</param-name>
            <!--<param-value>C:\\projects\\apache-tomcat-7.0.12\\temp\\</param-value>-->
            <param-value>/usr/local/hadoop/logs/</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>GetJobStatus</servlet-name>
        <url-pattern>/js/ggg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetJobHistory</servlet-name>
        <servlet-class>com.sap.shs.GetJobHistory</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetJobHistory</servlet-name>
        <url-pattern>/js/hhh</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.sap.shs.Login</servlet-class>
        <init-param>
            <param-name>loginJsp</param-name>
            <param-value>/shs/jsp/login.jsp</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/lll</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListHdfsFolder</servlet-name>
        <servlet-class>com.sap.shs.ListHdfsFolder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListHdfsFolder</servlet-name>
        <url-pattern>/js/hfl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteHdfsFile</servlet-name>
        <servlet-class>com.sap.shs.DeleteHdfsFile</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteHdfsFile</servlet-name>
        <url-pattern>/js/ddd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListJarClass</servlet-name>
        <servlet-class>com.sap.shs.ListJarClass</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListJarClass</servlet-name>
        <url-pattern>/js/jjj</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.sap.shs.UploadFile</servlet-class>
        <load-on-startup>1</load-on-startup>
            </servlet>

    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/js/uuu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadJarFile</servlet-name>
        <servlet-class>com.sap.shs.UploadJarFile</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>baseStorageDirectory</param-name>
            <!--<param-value>C:\\projects\\apache-tomcat-7.0.12\\temp\\</param-value>-->
            <param-value>/usr/local/tomcat/temp/</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadJarFile</servlet-name>
        <url-pattern>/js/uuuJar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmitJob</servlet-name>
        <servlet-class>com.sap.shs.SubmitJob</servlet-class>
        <init-param>
            <param-name>scriptFilename</param-name>
            <param-value>/usr/local/hadoop/bin/submit_job.sh</param-value>
        </init-param>

        <init-param>
            <param-name>hadoopTaskUrl</param-name>
            <param-value>http://dewei0:50030/jobtracker.jsp</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubmitJob</servlet-name>
        <url-pattern>/js/sss</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/jsp/404.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/jsp/errorpage.jsp</location>
    </error-page>

</web-app>